.Header {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
}

.Header > h1 {
  font-size: 3.7em;
  font-weight: lighter;
  line-height: 65px;
  width: 65%;
  color: #353576;
}
.Header > img {
  width: 35%;
}
